@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}
.container {
  margin: 20px auto;
  width: auto;
  height: auto;
  background-color: rgba(247, 9, 9, 0);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}


.card {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.box {
 
  margin: auto;
  padding: 20px;


  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}
.bottom {

  bottom: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  
}
.icons {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
 
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  /* bring your own prefixes */
  
  
}

